* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 238, 0);
}
.Titel {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 30px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

div {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

.Rahmen {
    width: 60vw;
    height: 100px;
    background: rgb(255, 238, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease-in-out;
    border-radius: 60px;
    border: 7px solid black;
    color: black;
    font-size: 30px;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Hover-Effekt */
.Rahmen:hover {
    background: rgb(0, 0, 0);
    transform: scale(150%, 110%);
    color: rgb(255, 238, 0);
}

a {
    text-decoration: none;
}